.download_form {
    display: none;
}

.open_download_section {
    display: block;
    position: absolute;
    width: 99.9%;
    height: 300%;
    top: 1px;
    left: 1px;
    z-index: 5;
    background-color: hsla(0, 0%, 57%, 0.475);
}

.form {
    width: 450px;
    height: 420px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    z-index: 10;
    border: 2px solid rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 10%;
    box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
    cursor: auto;
    &_button {
        display: block;
        width: 332px;
        background: #FF6464;
        border-radius: 2px;
        border-style: none;
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        cursor: pointer;
        margin: 0 auto;
        &:active {
            @include active_list_item;
        }
        &:hover {
            border-radius: 20px;
            color: $darkcolor;
            -webkit-box-shadow: 0px 0px 29px -2px #FF6464; 
            box-shadow: 0px 0px 29px -2px #FF6464;
            transition: all 150ms ease-in;
        }
    }
}

.close_form {
    height: auto;
    display: flex;
    justify-content: flex-end;
    transition: all .5s linear;
    &_cross {
        width: 20px;
        height: 20px;
        margin-top: 13px;
        margin-right: 20px;
        display: flex;
        cursor: pointer;
        .span_4 {
            border: 1px solid #000000;
            transform: rotate(45deg) translate(6px, -7px);
        }
        .span_5 {
            border: 1px solid #000000;
            transform: rotate(-45deg) translate(6px, 5px);
        }
    }
}

.content_form {
    width: 332px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    &_title {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        color: $darkcolor;
        margin: 0 auto;
    }
    &_descr {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: $darkcolor;
        margin: 0 auto;
    }
    &_input {
        width: auto;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        label {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: $darkcolor;
            margin: 0 auto;
            text-align: center;
        }
        input {
            width: 324px;
            height: 26px;
            background: #FFFFFF;
            border: 3px solid rgba(0, 0, 0, 0.1);
            border-radius: 25px;
            outline: none;
            text-align: center;
            &:invalid {
                border-color: red;
                transition: all .5s linear;
            }
        }
    }
    &_terms {
        width: auto;
        height: 16px;
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: $darkcolor;
        margin: 0 auto;
        .terms_input {
            margin-left: 5px;
            a {
                text-decoration: underline;
            }
        }
    }
}