.greeting {
    height: 385px;
    &_content {
        width: 855px;
        height: 261px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        margin: 0 auto;
        &_text {
            width: 517px;
            height: 211px;
        }
        &_title {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 44px;
            line-height: 60px;
            color: $darkcolor;
            text-align: left;
            margin: 0;
            margin-bottom: 25px;
        }
        &_desc {
            @include item_descr_propert;
            text-align: left;
        }
        &_avatar {
            width: 243px;
            height: 243px;
            position: relative;
            .avatar_photo {
                width: 243px;
                height: 243px
            }
            .avatar_block {
                width: 243px;
                height: 243px;
                background-color: $secondcolor;
                border-radius: 50%;
                position: absolute;
                top: 14px;
                z-index: -1;
                box-shadow: 0px 10px 20px -5px rgba(34, 60, 80, 0.44);
            }
        }
    }
    &_resume_button {
        height: 50px;
        margin-left: 2px;
        .button {
            width: 208px;
            height: 47px;
            background: #FF6464;
            border-radius: 2px;
            border-style: none;
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            color: #FFFFFF;
            cursor: pointer;
            &:active {
                @include active_button;
            }
            &:hover {
                border-radius: 20px;
                color: $darkcolor;
                -webkit-box-shadow: 0px 0px 29px -2px #FF6464; 
                box-shadow: 0px 0px 29px -2px #FF6464;
                transition: all 150ms ease-in;
            }
        }
    }
}

