.posts {
    height: 396px;
    background-color: $secondcolor;
    &_header {
        height: 69px;
        display: flex;
        justify-content: space-between;
        .title {
            @include section_title;
            margin-top: 19px;
            margin-bottom: 16px;
        }
        .link {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            margin-top: 25px;
            margin-bottom: 16px;
            a {
                text-decoration: none;
                color: #00A8CC;
            }
        }
    }
    &_content {
        width: auto;
        height: 295px;
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
    }
    &_item {
        width: 418px;
        height: 295px;
        background-color: $basecolor;
        border-radius: 4px;
        margin-right: 15px;
        &:hover {
            box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
        }
        &_content {
            margin: 24px 21px 35px 23px;
        }
        &_title {
            width: 374px;
            height: 66px;
            @include posts_item_title;
            margin-bottom: 35px;
        }
        &_properties {
            width: 374px;
            height: 24px;
            display: flex;
            flex-direction: row;
            margin-bottom: 21px;
            .properties_date{
                width: 130px;
                height: 21px;
                @include item_descr_propert;
                border-right-style: groove;
            }
            .properties_tags {
                height: 21px;
                @include item_descr_propert;
                margin-left: 25px;
            }
        }
        &_descr {
            width: 368px;
            height: 89px;
            @include item_descr_propert;
        }
    }
    .slick-arrow {
        padding-top: 1.1px;
        border-radius: 50%;
        background-color: #000;
    }
}