.works {
    height: 838px;
    &_header {
        height: 77px;
        .title {
            @include section_title;
            padding-top: 23px;
            padding-bottom: 23px;
        }
    }
    &_content {
        height: 688px;
    }
    &_item {
        height: 180px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
        padding-top: 31px;
        padding-bottom: 35px;
        &:hover {
            border-radius: 20px;
            box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
            .works_item_photo {
                transform: scale(1.150);
                border-radius: 20px;
            }
            .works_item_content {
                width: 461px;
            }
        }
        &_photo {
            width: 246px;
            height: 180px;
        }
        &_content {
            width: 561px;
            height: 182px;
        }
        &_title {
            @include works_item_title;
            margin-bottom: 27px;
        }
        &_properties {
            display: flex;
            flex-direction: row;
            margin-bottom: 23px;
            .properties_date {
                width: 62px;
                height: 25px;
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                color: #FFFFFF;
                background-color: $darkcolor;
                border-radius: 16px;
                text-align: center;
                margin-right: 26px;
            }
            .properties_tags {
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                color: #8695A4;
            }
        }
        &_descr {
            width: auto;
            height: 68px;
            @include item_descr_propert;
        }
    }
}