.work {
    &_title {
        width: auto;
        height: 75px;
        h1 {
            font-family: "Heebo", sans-serif;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0px;
            text-align: left;
            color: $darkcolor;
            margin: 0;
        }
    }
    &_content {
        height: auto;
    }
    &_item {
        width: auto;
        height: 227px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 37px;
        &:hover {
            border-radius: 20px;
            box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
            .work_item_photo {
                transform: scale(1);
                border-radius: 20px;
            }
            .work_item_content {
                width: 418px;
            }
        }
        &_photo {
            width: 246px;
            height: 180px;
        }
        &_content {
            width: 418px;
            height: 201px;
        }
        &_title {
            @include works_item_title;
            margin-bottom: 20px;
        }
        &_properties {
            display: flex;
            flex-direction: row;
            margin-bottom: 23px;
            .properties_date {
                width: 62px;
                height: 25px;
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                color: #FFFFFF;
                background-color: $darkcolor;
                border-radius: 16px;
                text-align: center;
                margin-right: 26px;
            }
            .properties_tags {
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                color: #8695A4;
            }
        }
        &_descr {
            width: 418px;
            height: 68px;
            @include item_descr_propert;
        }
    }
}