//for mobile
@media screen and (max-width: 480px) {
    @include transition_for_media;
    //================= MAIN
    .container {
        max-width: 375px;
        height: auto;
        &_header {
            max-width: 375px;
            height: 50px;
            margin: 0 auto;
        }
        &_bodysite {
            height: auto;
            max-width: 375px;
            margin: 0 auto;
        }
    }
    //header section
    header {
        max-width: 375px;
        height: 50px;
        float: right;
    }
    .nav_menu {
        visibility: hidden;
        width: 375px;
        height: 50px;
        opacity: 0;
        transition: all 600ms ease-in-out;
        transform: scaleX(0);
    .nav_list {
        margin: 12px 0 0 0;
        padding: 0px 15px 0px 15px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 20px 20px 20px 20px;
        -webkit-box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.09);
        -moz-box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.09);
        box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.09);
        &_item {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: $darkcolor;
        }
    }
    }
    .burger_menu {
        width: 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 16px 20px 0 0;
        span {
            width: 30px;
            border: 1.5px solid $darkcolor;
            background-color: $darkcolor;
            transition: all 300ms ease-in-out;
        }
    }
    .burger_menu.open-menu {
        .span_1 {
            transition: all 600ms ease-in-out;
            transform: rotate(45deg) translate(6px, 5px);
        }
        .span_2 {
            transition: all 550ms;
            transform:scale(0);
        }
        .span_3 {
            transition: all 600ms;
            transform: rotate(-45deg) translate(6px, -5px);
        }
    }
    .nav_menu.open-menu {
        visibility: visible;
        opacity: 1;
        transition: all 600ms ease-in-out;
        transform: scaleX(1);
    }
    //footer
    .footer {
        width: 375px;
        height: 132px;
        padding: 51px 0 34px 0;
        margin: 0 auto;
        &_icons {
            width: 232px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }
        &_copyright {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            text-align: center;
            color: $darkcolor;
            margin-top: 26px;
        }
    }

    //================= HOME PAGE
    //greetings section
    .greeting {
        height: 616px;
        &_content {
            width: 375px;
            height: 442px;
            display: flex;
            flex-direction: column-reverse;
            margin: 0 auto;
            margin-top: 33px;
            &_text {
                width: 354px;
                height: 219px;
                margin: 0 auto;
            }
            &_title {
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                color: $darkcolor;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 46px;
            }
            &_desc {
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                text-align: center;
                color: #21243D;
                margin: 0 auto;
            }
            &_avatar {
                width: 174px;
                height: 174px;
                margin: 0px auto 43px auto;
                position: relative;
                .avatar_photo {
                    width: 174px;
                    height: 174px
                }
                .avatar_block {
                    width: 174px;
                    height: 174px;
                    background-color: $secondcolor;
                    border-radius: 50%;
                    position: absolute;
                    top: 18px;
                    z-index: -1;
                }
            }
        }
        &_resume_button {
            height: 50px;
            margin: 52px 0 42px 0;
            .button {
                width: 208px;
                height: 47px;
                display: block;
                background: #FF6464;
                border-radius: 2px;
                border-style: none;
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
                cursor: pointer;
                margin: 0 auto;
                &:active {
                    @include active_button;
                }
            }
        }
    }
    //posts section
    .posts {
        height: auto+5px;
        background-color: $secondcolor;
        &_header {
            height: 60px;
            width: 105px;
            display: block;
            margin: 0 auto;
            .title {
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 60px;
                margin: 19px auto 16px auto;
            }
            .link {
                display: none;
            }
        }
        &_content {
            width: 354px;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 0 auto;
        }
        &_item {
            width: 354px;
            height: 266px;
            background-color: $basecolor;
            border-radius: 4px;
            &_content {
                margin: 12px 21px 22px 19px;
            }
            &_title {
                width: 317px;
                height: 60px;
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                color: #21243D;
                margin-bottom: 12px;
            }
            &_properties {
                width: 317px;
                height: 24px;
                display: flex;
                flex-direction: row;
                margin-bottom: 19px;
                .properties_date{
                    width: 113px;
                    height: 24px;
                    @include item_descr_propert;
                    line-height: 24px;
                    border-right-style: groove;
                }
                .properties_tags {
                    width: 143px;
                    height: 24px;
                    @include item_descr_propert;
                    line-height: 24px;
                    margin-left: 25px;
                }
            }
            &_descr {
                width: 317px;
                height: 120px;
                @include item_descr_propert;
            }
        }
    }
    //works section
    .works {
        height: 1500px;
        &_header {
            height: 65px;
            display: block;
            margin: 0 auto;
            .title {
                text-align: center;
                margin: 0 auto;
                @include section_title;
                font-size: 18px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        &_content {
            height: 1355px;
            margin: 0 auto;
        }
        &_item {
            width: 347px;
            height: 451px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid #E0E0E0;
            padding-top: 21px;
            padding-bottom: 5px;
            margin: 0 auto;
            &:hover {
                border-radius: 10px;
                box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
                .works_item_photo {
                    transform: scale(.950);
                    border-radius: 10px;
                }
                .works_item_content {
                    width: 347px;
                }
            }
            &_photo {
                width: 341px;
                height: 227px;
                margin: 0 auto;
            }
            &_content {
                width: 347px;
                height: 190px;
            }
            &_title {
                @include works_item_title;
                font-size: 24px;
                margin-bottom: 15px;
            }
            &_properties {
                display: flex;
                flex-direction: row;
                margin-bottom: 23px;
                .properties_date {
                    width: 62px;
                    height: 24px;
                    font-family: "Heebo", sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 18px;
                    color: #FFFFFF;
                    background-color: $darkcolor;
                    border-radius: 16px;
                    text-align: center;
                    margin-right: 26px;
                }
                .properties_tags {
                    font-family: "Heebo", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    color: #8695A4;
                }
            }
            &_descr {
                width: 347px;
                height: 96px;
                @include item_descr_propert;
            }
        }
    }
    
    //================= DOWNLOAD FORM
    //greetings section
    .download_form {
        display: none;
    }

    .open_download_section {
        display: block;
        position: absolute;
        width: 99.9%;
        height: 300%;
        top: 1px;
        left: 1px;
        z-index: 2;
        background-color: hsla(0, 0%, 57%, 0.475);
    }
    
    .form {
        width: 95%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        z-index: 0;
        border: 2px solid rgba(0, 0, 0, 0.19);
        border-radius: 25px;
        background: #FFFFFF;
        margin: 0 auto;
        margin-top: 20%;
    }
    
    .close_form {
        height: auto;
        display: flex;
        justify-content: flex-end;
        transition: all .5s linear;
        &_cross {
            width: 20px;
            height: 20px;
            margin-top: 13px;
            margin-right: 20px;
            display: flex;
            cursor: pointer;
            .span_4 {
                border: 1px solid #000000;
                transform: rotate(45deg) translate(6px, -7px);
            }
            .span_5 {
                border: 1px solid #000000;
                transform: rotate(-45deg) translate(6px, 5px);
            }
        }
        
    }
    
    .content_form {
        width: 332px;
        height: 295px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        &_title {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 53px;
            color: $darkcolor;
            margin: 0 auto;
        }
        &_descr {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: $darkcolor;
            margin: 0 auto;
        }
        &_input {
            width: auto;
            height: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 auto;
            label {
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                color: $darkcolor;
                margin: 0 auto;
                text-align: center;
            }
            input {
                width: 324px;
                height: 26px;
                background: #FFFFFF;
                border: 3px solid rgba(0, 0, 0, 0.1);
                border-radius: 25px;
                outline: none;
                text-align: center;
                &:valid {
                    border-color: green;
                    transition: all .5s linear;
                }
                &:invalid {
                    border-color: red;
                    transition: all .5s linear;
                }
            }
        }
        &_terms {
            width: auto;
            height: 16px;
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: $darkcolor;
            margin: 0 auto;
            .terms_input {
                margin-left: 5px;
                a {
                    text-decoration: underline;
                }
            }
        }
        &_button {
            width: 300px;
            height: 60px;
            background: #FF6464;
            border-radius: 2px;
            border-style: none;
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            color: #FFFFFF;
            cursor: pointer;
            margin: 0 auto;
            &:active {
                @include active_list_item;
            }
            &:hover {
                border-radius: 20px;
                color: $darkcolor;
                -webkit-box-shadow: 0px 0px 29px -2px #FF6464; 
                box-shadow: 0px 0px 29px -2px #FF6464;
                transition: all 150ms ease-in;
            }
        }
    }

    //================= BLOG PAGE
    //blog section
    .blog {
        width: 339px;
        height: auto;
        margin: 0 auto;
        padding-top: 90px;
    &_title {
        width: auto;
        height: 84px;
        h1 {
            font-family: "Heebo", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: bold;
            line-height: 60px;
            letter-spacing: 0px;
            text-align: left;
            color: $darkcolor;
            margin: 0;
        }
    }
    &_content {
        width: 339px;
        height: auto;
        margin: 0 auto;
    }
    &_item {
        width: 339px;
        height: 204px;
        border-bottom: 1px solid #E0E0E0;
        margin: 0 auto;
        margin-bottom: 18px;
        &_title {
            width: auto;
            height: 31px;
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 38px;
            text-align: left;
            color: $darkcolor;
            margin-bottom: 16px;
        }
        &_properties {
            width: 339px;
            height: 25px;
        }
        &_descr {
            width: auto;
            height: 93px;
            @include item_descr_propert;
            margin-bottom: 27px;
        }
    }
    &_properties {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        &_date {
            width: 136px;
            height: 21px;
            @include blog_item_propert;
            border-right: 1px solid #000000;
        }
        &_tags {
            @include blog_item_propert;
            color: #8695A4;
            margin-left: 20px;
        }
    }
    }

    //================= WORK PAGE
    //work section
    .work {
        height: auto;
        padding-top: 94px;
        &_title {
            text-align: left;
            padding-left: 20px;
            margin: 0 auto;
            @include section_title;
            font-size: 18px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &_content {
            height: auto;
            margin: 0 auto;
        }
        &_item {
            width: 347px;
            height: 451px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid #E0E0E0;
            padding-top: 21px;
            padding-bottom: 5px;
            margin: 0 auto;
            &:hover {
                border-radius: 10px;
                box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
                .work_item_photo {
                    transform: scale(.950);
                    border-radius: 10px;
                }
                .work_item_content {
                    width: 347px;
                }
            }
            &_photo {
                width: 341px;
                height: 227px;
                margin: 0 auto;
            }
            &_content {
                width: 347px;
                height: 190px;
            }
            &_title {
                @include works_item_title;
                font-size: 24px;
                margin-bottom: 15px;
            }
            &_properties {
                display: flex;
                flex-direction: row;
                margin-bottom: 23px;
                .properties_date {
                    width: 62px;
                    height: 24px;
                    font-family: "Heebo", sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 18px;
                    color: #FFFFFF;
                    background-color: $darkcolor;
                    border-radius: 16px;
                    text-align: center;
                    margin-right: 26px;
                }
                .properties_tags {
                    font-family: "Heebo", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    color: #8695A4;
                }
            }
            &_descr {
                width: 347px;
                height: 96px;
                @include item_descr_propert;
            }
        }
    }

        //================= WORK DETAIL PAGE
    //work detail section
    .work_detail {
        height: auto;
        padding-top: 90px;
    }

    .detail_header {
        width: 339px;
        height: auto;
        margin: 0 auto;
        h1 {
            width: 339px;
            height: 86px;
            font-family: Heebo;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            color: #21243D;
            margin: 0;
            margin-bottom: 23px;
        }
        &_propert {
            display: flex;
            justify-content: flex-start;
            width: 339px;
            height: 53px;
            margin-bottom:24;
        }
        &_descr {
            width: 339px;
            height: auto;
            font-family: Heebo;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #000000;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &_photo {
            width: 100%;
            margin: 0 auto;
            img {
                display: block;
                width: 99%;
                height: 99%;
                margin: 0 auto;
            }
        }
    }

    .properties {
        &_data {
            width: 62px;
            height: 25px;
            background: #FF7C7C;
            border-radius: 16px;
            font-family: Heebo;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            text-align: center;
            color: #FFFFFF;
            margin-right: 17px;
        }
        &_tags {
            font-family: Heebo;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #21243D;
        }
    }
    
    .detail_content {
        width: auto;
        height: auto;
        margin-top: 34px;
        &_header {
            margin-bottom: 15px;
            h2 {
                font-family: Heebo;
                font-style: normal;
                font-weight: 500;
                font-size: 26px;
                margin: 0;
            }
            h3 {
                font-family: Heebo;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 50px;
                margin: 0;
            }
        }
        &_descr {
            width: auto;
            height: auto;
            font-family: Heebo;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 38px;
        }
        &_photo {
            img {
                display: block;
                width: 99%;
                height: 99%;
                margin: 0 auto;
                margin-bottom: 27px;
            }
        }
    }
}

//for mini-laptop and tablet
@media screen and (min-width: 481px) and (max-width: 900px) {
    //================= MAIN
    @include transition_for_media;
    body {
        max-width: 100%;
        min-width: 481px;
        height: auto;
        margin: 0 auto;
        background-color: #FFFFFF;
    }
    .container {
        min-width: 481px;
        max-width: 80%;
        height: auto;
        &_header {
            max-width: 90%;
            min-width: 481px;
            height: 100px;
            margin: 0 auto;
        }
        &_bodysite {
            max-width: 90%;
            min-width: 481px;
            margin: 0 auto;
        }
    }
    //header section
    header {
        max-width: 95%;
        height: 100px;
        float: right;
    }
    .nav_menu {
        visibility: hidden;
        width: 375px;
        height: 100px;
        opacity: 0;
        transition: all 600ms ease-in-out;
        transform: scaleX(0);
    .nav_list {
        margin: 32px 0 0 0;
        padding: 0px 15px 0px 15px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 20px 20px 20px 20px;
        -webkit-box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.09);
        -moz-box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.09);
        box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.09);
        &_item {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: $darkcolor;
            &:hover {
                border-radius: 10px;
                box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
                .works_item_photo {
                    transform: scale(.950);
                    border-radius: 10px;
                }
                .works_item_content {
                    width: 347px;
                }
            }
        }
    }
    }
    .burger_menu {
        width: 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 36px 20px 0 0;
        span {
            width: 30px;
            border: 1.5px solid $darkcolor;
            background-color: $darkcolor;
            transition: all 300ms ease-in-out;
        }
    }
    .burger_menu.open-menu {
        .span_1 {
            transition: all 600ms ease-in-out;
            transform: rotate(45deg) translate(6px, 5px);
        }
        .span_2 {
            transition: all 550ms;
            transform:scale(0);
        }
        .span_3 {
            transition: all 600ms;
            transform: rotate(-45deg) translate(6px, -5px);
        }
    }
    .nav_menu.open-menu {
        visibility: visible;
        opacity: 1;
        transition: all 600ms ease-in-out;
        transform: scaleX(1);
    }
    //footer
    .footer {
        width: 100%;
        height: 132px;
        padding: 51px 0 34px 0;
        &_icons {
            width: 232px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }
        &_copyright {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            text-align: center;
            color: $darkcolor;
            margin-top: 26px;
        }
    }

    //================= HOME PAGE
    //greetings section
    .greeting {
        height: auto;
        padding: 10px 0px;
        &_content {
            width: 95%;
            height: auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            margin: 10px auto;
            &_text {
                width: 95%;
                height: auto;
                margin: 0 auto;
            }
            &_title {
                font-family: ""Heebo", sans-serif";
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                color: $darkcolor;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 16px;
            }
            &_desc {
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 23px;
                text-align: center;
                color: #21243D;
                margin: 0 auto;
            }
            &_avatar {
                width: 174px;
                height: 192px;
                margin: 0px auto 15px auto;
                position: relative;
                .avatar_photo {
                    width: 174px;
                    height: 174px
                }
                .avatar_block {
                    width: 174px;
                    height: 174px;
                    background-color: $secondcolor;
                    border-radius: 50%;
                    position: absolute;
                    top: 18px;
                    z-index: -1;
                }
            }
        }
        &_resume_button {
            height: 50px;
            margin: 12px 0 5px 0;
            .button {
                width: 208px;
                height: 47px;
                display: block;
                background: #FF6464;
                border-radius: 2px;
                border-style: none;
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 29px;
                color: #FFFFFF;
                cursor: pointer;
                margin: 0 auto;
                &:active {
                    @include active_button;
                }
            }
        }
    }
    //posts section
    .posts {
        height: auto;
        background-color: $secondcolor;
        &_header {
            height: 60px;
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            .title {
                display: block;
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 60px;
                margin-top: 0px;
                margin-bottom: 16px;
            }
            .link {
                display: block;
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                margin-top: 17px;
                margin-bottom: 16px;
                a {
                    text-decoration: none;
                    color: #00A8CC;
                }
            }
        }
        &_content {
            width: 400px;
            height: auto;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin: 0 auto;
        }
        &_item {
            width: 400px;
            height: 300px;
            background-color: $basecolor;
            border-radius: 4px;
            margin: 10px auto;
            &_content {
                margin: 12px 22px 12px 22px;
            }
            &_title {
                width: 95%;
                height: 60px;
                font-family: "Heebo", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                color: #21243D;
                margin-bottom: 12px;
            }
            &_properties {
                width: 95%;
                height: 24px;
                display: flex;
                flex-direction: row;
                margin-bottom: 19px;
                .properties_date{
                    width: 113px;
                    height: 24px;
                    @include item_descr_propert;
                    line-height: 24px;
                    border-right-style: groove;
                }
                .properties_tags {
                    width: 143px;
                    height: 24px;
                    @include item_descr_propert;
                    line-height: 24px;
                    margin-left: 25px;
                }
            }
            &_descr {
                width: 95%;
                height: auto;
                @include item_descr_propert;
            }
        }
    }
    //works section
    .works {
        height: auto;
        &_header {
            height: 65px;
            display: block;
            margin: 0 auto;
            .title {
                text-align: center;
                margin: 0 auto;
                @include section_title;
                font-size: 25px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        &_content {
            height: auto;
            margin: 0 auto;
        }
        &_item {
            width: 95%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid #E0E0E0;
            padding-top: 21px;
            padding-bottom: 5px;
            margin: 0 auto;
            &:hover {
                border-radius: 20px;
                box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
                .works_item_photo {
                    transform: scale(1);
                    border-radius: 20px;
                }
                .works_item_content {
                    width: 95%;
                }
            }
            &_photo {
                width: 75%;
                height: 75%;
                margin: 0 auto;
            }
            &_content {
                width: 95%;
                height: auto;
                margin: 0 auto;
            }
            &_title {
                @include works_item_title;
                font-size: 24px;
                margin-bottom: 15px;
            }
            &_properties {
                display: flex;
                flex-direction: row;
                margin-bottom: 13px;
                .properties_date {
                    width: 62px;
                    height: 24px;
                    font-family: "Heebo", sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 18px;
                    color: #FFFFFF;
                    background-color: $darkcolor;
                    border-radius: 16px;
                    text-align: center;
                    margin-right: 26px;
                }
                .properties_tags {
                    font-family: "Heebo", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    color: #8695A4;
                }
            }
            &_descr {
                width: 95%;
                height: auto;
                @include item_descr_propert;
            }
        }
    }
    
    //================= BLOG PAGE
    //blog section
    .blog {
        padding-top: 90px;
    }

    //================= WORK PAGE
    //work section
    .work {
        padding-top: 74px;
        height: auto;
        &_title {
            text-align: center;
            margin: 0 auto;
            @include section_title;
            font-size: 25px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &_content {
            height: auto;
            margin: 0 auto;
        }
        &_item {
            width: 95%;
            height: auto;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #E0E0E0;
            padding-top: 21px;
            padding-bottom: 5px;
            margin: 0 auto;
            &_photo {
                display: block;
                width: 75%;
                height: 75%;
            }
            &_content {
                width: 95%;
                height: auto;
                margin: 0 auto;
            }
            &_title {
                @include works_item_title;
                font-size: 24px;
                margin-bottom: 15px;
            }
            &_properties {
                display: flex;
                flex-direction: row;
                margin-bottom: 13px;
                .properties_date {
                    width: 62px;
                    height: 24px;
                    font-family: "Heebo", sans-serif;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 18px;
                    color: #FFFFFF;
                    background-color: $darkcolor;
                    border-radius: 16px;
                    text-align: center;
                    margin-right: 26px;
                }
                .properties_tags {
                    font-family: "Heebo", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    color: #8695A4;
                }
            }
            &_descr {
                width: 95%;
                height: auto;
                @include item_descr_propert;
            }
        }
    }

    //================= WORK DETAIL PAGE
    //work detail section
    .work_detail {
        padding-top: 90px;
    }

    .detail_header {
        width: 95%;
        margin: 0 auto;
        h1 {
            width: 428px;
            height: 86px;
            font-family: Heebo;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 50px;
            color: #21243D;
            margin: 0;
            margin-bottom: 46px;
        }
        &_propert {
            display: flex;
            justify-content: flex-start;
            width: auto;
            height: 15px;
            margin-bottom: 30px;
        }
        &_descr {
            width: 95%;
            height: auto;
            font-family: Heebo;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #000000;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &_photo {
            width: 95%;
            margin: 0 auto;
            img {
                display: block;
                width: 95%;
                height: 95%;
                margin: 0 auto;
            }
        }
    }

    .properties {
        &_data {
            width: 62px;
            height: 25px;
            background: #FF7C7C;
            border-radius: 16px;
            font-family: Heebo;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            text-align: center;
            color: #FFFFFF;
            margin-right: 17px;
        }
        &_tags {
            font-family: Heebo;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #21243D;
        }
    }
    
    .detail_content {
        width: auto;
        height: auto;
        margin-top: 54px;
        &_header {
            margin-bottom: 35px;
            h2 {
                font-family: Heebo;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                margin: 0;
            }
            h3 {
                font-family: Heebo;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 50px;
                margin: 0;
            }
        }
        &_descr {
            width: 339px;
            height: auto;
            font-family: Heebo;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 24px;
        }
        &_photo {
            img {
                display: block;
                width: 99%;
                height: 99%;
                margin: 0 auto;
                margin-bottom: 27px;
            }
        }
    }
}

//for PC and large-laptop
@media screen and (min-width: 901px) and (max-width: 1920px) {
    @include transition_for_media;
}