@mixin active_list_item {
    color: $buttoncolor;
}

@mixin active_button {
    background-color: $darkcolor;
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #161829;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #161829;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #161829;
}

@mixin section_title {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: $darkcolor;
}

@mixin posts_item_title {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: $darkcolor;
}

@mixin works_item_title {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: $darkcolor;
}

@mixin item_descr_propert {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: $darkcolor;
}
@mixin blog_item_propert {
    font-family: "Heebo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: $darkcolor;
}

@mixin transition_for_media {
    body, header, footer, nav, section, ul, li, div, h1, p, a, img, span , button {
        transition: all 170ms ease-in-out;
    }
}
