.work_detail {
    height: auto;
}
.detail_header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h1 {
        width: 428px;
        height: 86px;
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 50px;
        color: #21243D;
        margin: 0;
        margin-bottom: 46px;
    }
    &_propert {
        display: flex;
        justify-content: flex-start;
        width: auto;
        height: 25px;
        margin-bottom: 30px;
    }
    &_descr {
        width: auto;
        height: 41px;
        @include item_descr_propert;
        margin-bottom: 49px;
    }
    &_photo {
        img {
            width: 681px;
            height: 460px;
        }
    }
}

.properties {
    &_data {
        width: 62px;
        height: 25px;
        background: #FF7C7C;
        border-radius: 16px;
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        margin-right: 17px;
    }
    &_tags {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #21243D;
    }
}

.detail_content {
    width: auto;
    height: auto;
    margin-top: 54px;
    &_header {
        margin-bottom: 35px;
        h2 {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            margin: 0;
        }
        h3 {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 50px;
            margin: 0;
        }
    }
    &_descr {
        width: auto;
        height: 48px;
        @include item_descr_propert;
        margin-bottom: 38px;
    }
    &_photo {
        img {
            width: 681px;
            height: 460px;
            margin-bottom: 27px;
        }
    }
}
