@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo-Bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo-Black.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 1152px;
    min-width: 374px;
    height: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.container {
    max-width: 866px;
    min-width: 374px;
    margin: 0 auto;
    &_header {
        max-width: 1044px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
    }
    &_bodysite {
        max-width: 682px;
        margin: 0 auto;
    }
}

.active {
    border-radius: 2px;
    border-bottom: 2px solid #21243D;
    color: #FF6464;
    transition: all 200ms ease-in-out;
}

a {
    text-decoration: none;
    color: $darkcolor;
    &:active {
        color: $darkcolor;
    }
    &:hover {
        @include active_list_item;
        transition: all 200ms ease-in;
    }
}

//header section
header {
    height: 250px;
    &_blog {
        height: 160px;
    }
}
.nav_menu {
    width: 237px;
    height: 57px;
    margin-right: 10px;
    .nav_list {
        list-style: none;
        padding: 0;
        margin-top: 29px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_item {
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: $darkcolor;
            &>a:hover {
                border-radius: 2px;
                border-bottom: 4px solid #21243D;
                color: #FF6464;
                transition: all 100ms ease-in-out;
            }
        }
    }
}

//footer section
.footer {
    &_icons {
        width: 232px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 26px;
        margin-top: 51px;
    }
    &_copyright {
        font-family: "Heebo", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        color: $darkcolor;
        margin-bottom: 54px;
    }
}
