.blog {
    height: 919px;
    &_title {
        width: auto;
        height: 109px;
        h1 {
            font-family: "Heebo", sans-serif;
            font-size: 44px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0px;
            text-align: left;
            color: $darkcolor;
            margin: 0;
        }
    }
    &_content {
        height: 709px;
    }
    &_item {
        width: auto;
        height: 161px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 32px;
        padding: 5px;
        &:hover {
            box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.21);
            border-radius: 10px;
        }
        &_title {
            width: auto;
            height: 31px;
            font-family: "Heebo", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 44px;
            text-align: left;
            color: $darkcolor;
            margin-bottom: 18px;
        }
        &_properties {
            width: auto;
            height: 25px;
        }
        &_descr {
            width: auto;
            height: 44px;
            @include item_descr_propert;
            margin-bottom: 28px;
        }
    }
    &_properties {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        &_date {
            width: 136px;
            height: 21px;
            @include blog_item_propert;
            border-right: 1px solid #000000;
        }
        &_tags {
            @include blog_item_propert;
            color: #8695A4;
            margin-left: 20px;
        }
    }
}
